<h1>BOOK-LIST</h1>

<div class="container d-flex flex-row flex-wrap p-3">
  {{#each items}}
  <div class="card p-3 m-2" style="width: 18rem;">
    <img src="{{volumeInfo.imageLinks.thumbnail}}" class="card-img-top" alt="book cover" />
    <div class="card-body">
      <h3 class="card-title">{{volumeInfo.title}}</h3>
      <label for="">Author(s):
        <h4 class="card-subtitle">
          {{#each volumeInfo.authors}}
          {{this}}
          ,
          {{/each}}
        </h4>
      </label>
      <label for="">Categories:<h4 class="card-subtitle">
          <ul>
            {{#each volumeInfo.categories}}
            <li>this</li>
            {{/each}}
          </ul>

        </h4></label>
      <label for="">Rating: <h5 class="card-subtitle">{{volumeInfo.averageRating}}</h5></label>
      <h5 class="card-subtitle">{{volumeInfo.retailPrice.amount}} {{volumeInfo.retailPrice.currencyCode}}</h5>


      <a href="/books/{{id}}" class="btn btn-success">See book details</a>


      {{!-- {{#if ../userInSession}} --}}
      <form action="/add-book/{{id}}" method="post">
        <button class="btn btn-success" type="submit">Add to my shelf</button>
      </form>
      {{!-- {{/if}} --}}

    </div>
  </div>
  {{/each}}
</div>