<body id="general-background">

  <div class="shelf-page">
    <section id="video">
      <div>
        <img src="{{userInSession.profileImgUrl}}" alt="profile image" />
        <h1>{{userInSession.username}}'s Shelf </h1>
      </div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/L_LUpnjgPso?autoplay=1"
        title="YouTube video player"
        frameborder="0"
        allow="autoplay;"

        allowfullscreen
      ></iframe>

    </section>

    <div class="myShelf">
      {{#each books}}

        <div class="book-card">
          <div class="book-image">
            <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="book cover" />
          </div>

          <div class="book-title">
            <h3 class="running-title">{{volumeInfo.title}}</h3>

          </div>
          <div class="buttons">
            <button class="blue-btn"><a href="/books/{{id}}">See book details</a></button>

            <br />
            <form action="/delete-book/{{id}}" method="post">
              <button class="brown-btn" type="submit">Delete</button>
            </form>

          </div>

        </div>

      {{/each}}
    </div>

  </div>

</body>